---
interface Service {
    service: string;
}

const { serviElect, title, path, alt } = Astro.props;
---

<div class="w-full h-full p-3 flex justify-center items-center">
    <div class="bg-[#eee] hover:scale-[1.02] hover:bg-[#273136] hover:text-white hover:shadow-xl hover:shadow-black/65 hover:rounded-lg transition-all hover:transition-all hover:duration-500 duration-500 max-h-96 w-full h-full [&>h1]:hover:text-white">
        <h1 class="text-4xl font-bold text-slate-700 pt-4 pb-2 flex justify-center gap-x-2">
            {title}
        </h1>
        <ul class="[&>div>img]:hover:stroke-white [&>div>img]:hover:text-white [&>div>img]:hover:fill-white py-4 px-10 w-full space-y-2 text-md flex justify-center overflow-ellipsis overflow-hidden whitespace-nowrap">
            <div class="[&>li]:flex [&>li]:justify-start [&>li]:gap-x-1 [&>li]:w-full [&>pi]:px-1 [&>li]:list-disc w-full">
                {serviElect.map((service: Service) => (
                    <li class="list-disc">
                        {service}
                    </li>
                ))}
            </div>
            <div class="group">
                <img src={path} alt={alt} class="h-full w-56 transition-all"/>
            </div>
        </ul>
    </div>
</div>