<section class="h-screen w-full p-4">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl">En desarrollo</h1>
        <img src="/code.svg" alt="Icon de código" class="h-96 w-96">
    </div>
</section>