<section class="w-1/6 h-screen fixed border-none bg-black/80 left-0 top-0 bottom-0">
    <div class="w-full py-6 flex justify-center items-center">
        <nav>
            <a href="#top">
                <img src="seguryred.webp" alt="Logo SeguryRED" class="rounded-full w-auto h-40">
            </a>
        </nav>
    </div>
    <nav>
        <ul class="list-none flex flex-col items-center gap-y-8 pt-10 h-full [&>li>a]:rounded-full [&>li>a]:py-2 [&>li>]:py-2 [&>li>a]:px-6 [&>li]:px-6 [&>li>a]:w-36 [&>li>a]:transition-all [&>li>a]:text-white/85 [&>li>a]:text-2xl ">
            <li><a href="#servicios" class=" active:scale-110 focus:text-xl hover:text-amber-500 hover:bg-white/10">Servicios</a></li>
            <li><a href="#clientes" class=" active:scale-110 focus:text-xl hover:text-amber-500 hover:bg-white/10">Clientes</a></li>
            <li><a href="#sistemas" class="border active:scale-110 focus:text-xl hover:text-amber-500 hover:bg-white/10">Sistemas</a></li>
            <li><a href="#contacto" class="border active:scale-110 focus:text-xl hover:text-amber-500 hover:bg-white/10">Contacto</a></li>
        </ul>
    </nav>
</section>