<section class="w-96 h-screen fixed border-none bg-black/80 ml-0 top-0 bottom-0">
    <ul class="flex flex-col items-start justify-center px-10 gap-y-10 h-full [&>li]:rounded-full [&>li]:py-2 [&>li]:px-4 [&>li]:transition-all [&>li]:text-white/85 [&>li]:text-lg ">
        <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#servicios">Servicios</a></li>
        <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#clientes">Clientes</a></li>
        <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#sistemas">Sistemas</a></li>
        <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#contacto">Contacto</a></li>
    </ul>
</section>