<section class={`
  top-0 w-full flex items-center h-auto
  lg:fixed lg:bottom-0 lg:left-0 lg:top-0 lg:flex lg:h-full lg:w-1/6 lg:flex-col border-none bg-[#273136] 
`}>
  <section class={`
    flex items-center py-4
    lg:flex lg:h-auto lg:w-full lg:items-center lg:justify-center lg:py-6
  `}>
    <nav class="px-10">
      <a href="#top">
        <img src="seguryred.webp" alt="Logo SeguryRED" class={`h-28 rounded-full lg:h-40 w-auto lg:rounded-full`}/>
      </a>
    </nav>
    <div class="flex flex-col">
      <h2 class={`
        text-white text-2xl font-bold py-1
        lg:hidden
      `}>
        SeguryRed
      </h2>
      <h3 class="text-slate-200 py-1 font-semibold text-lg lg:hidden">
        Soluciones Tecnológicas
      </h3>
    </div>
  </section>
  <nav class={`
    hidden
    lg:flex lg:h-full lg:place-content-center
  `}>
    <ul
      class="flex h-full w-44 flex-col items-start gap-y-8 pt-20 [&>li>a]:w-full [&>li>a]:py-2 [&>li>a]:text-2xl [&>li>a]:text-white/85 [&>li>a]:transition-all"
    >
      <li
        class="flex w-full items-center justify-between rounded-full transition-all duration-300 hover:bg-white/10 active:bg-orange-400 active:duration-75 [&>a>img]:hover:block [&>img]:hover:h-auto"
      >
        <a href="#servicios" class="ml-4 flex items-center justify-between"
          >Servicios
          <img src="icons/arrowRight.svg" alt="Logo flecha derecha" class="mx-4 text-white" />
        </a>
      </li>
      <li
        class="flex w-full items-center justify-between rounded-full transition-all duration-300 hover:bg-white/10 active:bg-orange-400 active:duration-75 [&>a>img]:hover:block [&>img]:hover:h-auto"
      >
        <a href="#clientes" class="ml-4 flex items-center justify-between"
          >Clientes
          <img src="/icons/arrowRight.svg" alt="Logo flecha derecha" class="mx-4 text-white" />
        </a>
      </li>
      <li
        class="flex w-full items-center justify-between rounded-full transition-all duration-300 hover:bg-white/10 active:bg-orange-400 active:duration-75 [&>a>img]:hover:block [&>img]:hover:h-auto"
      >
        <a href="#proyectos" class="ml-4 flex items-center justify-between"
          >Proyectos
          <img src="/icons/arrowRight.svg" alt="Logo flecha derecha" class="mx-4 text-white" />
        </a>
      </li>
      <li
        class="flex w-full items-center justify-between rounded-full transition-all duration-300 hover:bg-white/10 active:bg-orange-400 active:duration-75 [&>a>img]:hover:block [&>img]:hover:h-auto"
      >
        <a href="#contacto" class="ml-4 flex items-center justify-between"
          >Contacto
          <img src="/icons/arrowRight.svg" alt="Logo flecha derecha" class="mx-4 text-white" />
        </a>
      </li>
    </ul>
  </nav>
  <section class={`
    hidden  
    lg:top-0 lg:flex lg:h-auto lg:place-content-center lg:px-10 lg:pb-10
  `}>
    <ul
      class="flex flex-col items-start justify-start gap-y-2 [&>li]:w-full [&>li]:text-lg [&>li]:text-white/85"
    >
      <li>Copyright ©2025</li>
      <li><a href="#top">www.seguryred.cl</a></li>
    </ul>
  </section>
</section>
