<section class="w-80 h-screen fixed border-none bg-black/80 ml-0 top-0 bottom-0">
    <div class="w-full py-6 flex justify-center items-center">
        <img src="seguryred.webp" alt="Logo SeguryRED" class="rounded-full w-auto h-52">
    </div>
    <ul class="flex flex-col items-center gap-y-8 pt-10 h-full [&>li>a]:rounded-full [&>li>a]:py-2 [&>li>a]:px-8 [&>li>a]:transition-all [&>li>a]:text-white/85 [&>li>a]:text-xl ">
        <li tabindex="0"><a href="#servicios" class="active:scale-110 focus:text-xl hover:text-white hover:bg-white/10">Servicios</a></li>
        <li tabindex="0"><a href="#clientes" class="active:scale-110 focus:text-xl hover:text-white hover:bg-white/10">Clientes</a></li>
        <li tabindex="0"><a href="#sistemas" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10">Sistemas</a></li>
        <li tabindex="0"><a href="#contacto" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10">Contacto</a></li>
    </ul>
</section>