
<div id="clientes" class="min-h-dvh flex justify-center items-center ">
    <section class="w-full h-auto flex flex-col justify-center items-center">
        <nav class="flex justify-center gap-x-4 w-full gap-y-6 items-center transition-all h-[30rem]">
            <a href="#" class="flex flex-col items-center bg-white w-96 rounded-xl shadow hover:shadow-xl hover:scale-[1.01] hover:opacity-90 transition-all">
                <img src="/logo_miavet.webp" alt="Logo Miavet" class="h-auto w-48 rounded-xl">
                <div class="text-white text-lg text-center p-4 bg-black/45 rounded-b-xl w-full">
                    <p>Farmacia y Clínica Veterinaria Miavet.</p>
                </div>
            </a>
            <a href="#" class="flex flex-col items-center bg-white w-96 rounded-xl shadow hover:shadow-xl hover:scale-[1.01] hover:opacity-90 transition-all">
                <img src="/logo_bj.webp" alt="Logo Pet BJ" class="h-auto w-48 rounded-xl">
                <div class="text-white text-lg text-center p-4 bg-black/45 rounded-b-xl w-full">
                    <p>Pet BJ, pasión por las mascotas.</p>
                </div>
            </a>
        </nav>
    </section>
</div>