<div id="contacto" class="min-h-dvh  flex justify-center items-center">
    <section class="w-full h-screen flex ">
        <!-- <h1 class="text-center text-black/30 text-5xl">CONTACTO</h1> -->
        <section class="w-96 h-full border-none bg-black/80 ml-0 top-0 bottom-0">
            <ul class="flex flex-col items-start justify-center px-10 gap-y-10 h-full [&>li]:rounded-full [&>li]:py-2 [&>li]:px-4 [&>li]:transition-all [&>li]:text-white/85 [&>li]:text-lg ">
                <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#nombre">Cuál es tu nombre?</a></li>
                <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#email">Cuál es tu Email?</a></li>
                <li tabindex="0" class="focus:scale-110 focus:text-xl hover:text-white hover:bg-white/10"><a href="#mensaje">En qué te ayudamos</a></li>
            </ul>
        </section>
        <section class="w-full">
            <form class="[&>div]:p-1 [&>div>input]:rounded [&>div>input]:px-4 [&>div>input]:py-2 [&>div>input]:outline-none">
                <div class="flex gap-x-2">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email" class="w-full">
                </div>
                <div>
                    <textarea name="mensaje" id="mensaje" placeholder="Mensaje" rows="3" class="p-4 w-full rounded outline-none"></textarea>
                </div>
                <div>
                    <button class="transition-all bg-black/45 hover:bg-black/50 active:scale-[.98] w-full py-3 px-4 rounded text-white">Enviar</button>
                </div>
            </form>
        </section>
    </section>
</div>