<div id="contacto" class="min-h-dvh  flex justify-center items-center">
    <section class="w-full">
        <h1 class="text-center text-black/30 text-5xl">CONTACTO</h1>
        
        <section class="flex items-center justify-center">
            <form class="[&>div]:p-1 [&>div>input]:rounded [&>div>input]:px-4 [&>div>input]:py-2 [&>div>input]:outline-none">
                <div class="flex gap-x-2">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email" class="w-full">
                </div>
                <div>
                    <textarea name="mensaje" id="mensaje" placeholder="Mensaje" rows="3" class="w-full p-4 rounded outline-none"></textarea>
                </div>
                <div>
                    <button class="transition-all w-full bg-black/45 hover:bg-black/50 active:scale-[.98] py-3 px-4 rounded text-xl text-white active:outline active:outline-1 active:outline-black/70 active:transition-all active:duration-[-100ms]">Enviar</button>
                </div>
            </form>
        </section>
    </section>
</div>