<div class="bg-white w-auto h-72 bottom-0 mb-0 flex flex-col">
    <div class="flex">
        <section class="flex flex-col p-10">
            <div class="flex gap-x-4 justify-start items-center pb-5">
                <a href="#top">
                    <img src="seguryred.webp" alt="Logo SeguryRED" class="w-auto h-10">
                </a>
                <h class="text-slate-900 font-semibold text-xl">SEGURYRED</h2>
            </div>
            <p class="text-lg text-slate-400 font-normal hover:text-slate-500">Sistemas de Televigilancia para empresas, campos, predios, etc.</p>
        </section>
        <section class="flex flex-col p-10">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Menú principal</h2>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#servicios">Servicios</a>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#contacto">Contacto</a>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#clientes">Clientes</a>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#sistemas">Sistemas de Seguridad</a>
        </section>
        <section class="flex flex-col p-10">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Información</h2>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#">Política de Privacidad</a>
            <a class="text-lg text-slate-400 font-normal hover:text-slate-500" href="#">Términos y Condiciones</a>
        </section>
        <section class="flex flex-col p-10">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Contacto</h2>
            <p class="text-lg text-slate-400 font-normal">Av. Juan Roman Hoppe #52, Buin</p>
            <p class="text-lg text-slate-400 font-normal"><b class="font-medium">Teléfono:</b> +569 9276 0697</p>
        </section>
    </div>
    <section class="flex justify-center border-t">
        <p class="text-black/85 text-lg py-2">Copyright ©2024 seguryred.cl, Todos los derechos reservados.</p>
    </section>
</div>