<div class="bg-white w-full h-full bottom-0 flex flex-col">
    <section class="flex">
        <section class="flex flex-col py-10 pl-10 w-full">
            <div class="flex gap-x-4 justify-start items-center pb-5">
                <a href="#top">
                    <img src="seguryred.webp" alt="Logo SeguryRED" class="w-auto h-10">
                </a>
                <h class="text-slate-900 font-semibold text-xl">SEGURYRED</h2>
            </div>
            <p class="text-md text-slate-400 font-normal hover:text-slate-500">Sistemas de Televigilancia para empresas, campos, predios, etc.</p>
        </section>
        <section class="flex flex-col p-10 border-r border-l w-full">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Menú principal</h2>
            <a class="text-md text-slate-400 font-normal hover:text-slate-500" href="#servicios">Servicios</a>
            <a class="text-md text-slate-400 font-normal hover:text-slate-500" href="#clientes">Clientes</a>
            <a class="text-md text-slate-400 font-normal hover:text-slate-500" href="#contacto">Contacto</a>
        </section>
        <section class="flex flex-col p-10 border-r w-full">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Información</h2>
            <a class="text-md text-slate-400 font-normal hover:text-slate-500" href="#">Política de Privacidad</a>
            <a class="text-md text-slate-400 font-normal hover:text-slate-500" href="#">Términos y Condiciones</a>
        </section>
        <section class="flex flex-col p-10 w-full">
            <h2 class="text-slate-900 font-semibold text-xl pb-5">Contacto</h2>
            <p class="text-md text-slate-400 font-normal">Av. Juan Roman Hoppe #52, Buin</p>
            <p class="text-md text-slate-400 font-normal"><b class="font-medium">Teléfono:</b> +569 9276 0697</p>
        </section>
    </section>
    <section class="flex justify-center bg-white h-10 w-full py-2">
        <p class="text-black/85 text-sm ">Copyright ©2024. Todos los derechos reservados.</p>
    </section>
</div>