<div>
    <nav class="fixed top-0 left-0 right-0">
        <ul class="bg-black/50 py-2 mt-2 mx-4 rounded-2xl [&>li]:transition-all flex justify-center">
            <section class="pl-4 place-content-center">
                <nav>
                    <a href="#top">
                        <img src="seguryred.webp" alt="Logo SeguryRED" class="w-auto h-10 rounded-xl">
                    </a>
                </nav>
            </section>
            <section class="flex justify-end w-full px-4 [&>a>button]:transition-all">
                <nav>
                    <a href="#servicios"><button class="text-white text-center text-xl font-bold py-2 px-3 rounded-2xl focus:bg-orange-400 hover:bg-white/20 active:scale-[.98]">Servicios</button></a>
                    <a href="#clientes"><button class="text-white text-center text-xl font-bold py-2 px-3 rounded-2xl focus:bg-orange-400 hover:bg-white/20 active:scale-[.98]">Clientes</button></a>
                    <a href="#sistemas"><button class="text-white text-center text-xl font-bold py-2 px-3 rounded-2xl focus:bg-orange-400 hover:bg-white/20 active:scale-[.98]">Sistemas</button></a>
                    <a href="#contacto"><button class="text-white text-center text-xl font-bold py-2 px-3 rounded-2xl focus:bg-orange-400 hover:bg-white/20 active:scale-[.98]">Contacto</button></a>
                </nav>
            </section>
        </ul>
    </nav>
</div>