---
// import { useState } from "react";
// const [ visible, setVisible ] = useState(false)
import { ServiComputacion } from "./serviciosItems/ServiComputacion.jsx"
import { ServiElectronica } from "./serviciosItems/ServiElectronica"
import { ServiTelevigilancia } from "./serviciosItems/ServiTelevigilancia"
---

<div id="servicios" class="min-h-dvh flex justify-center items-center ">
    <section class="grid grid-cols-3 grid-flow-row gap-4 h-screen px-10">
        <ServiElectronica client:load />
        <ServiComputacion client:load />
        <ServiTelevigilancia client:load />
    </section>
</div>