<div id="sistemas" class="min-h-dvh flex justify-center items-center">
    <section class="w-full h-96 flex flex-col justify-center items-center">
        <h1 class="text-center text-black/30 text-5xl">SISTEMAS</h1>
        <h1 class="text-center text-black/10 text-3xl">En Desarrollo...</h1>
    </section>
</div>