---
import Servicios from "./Servicios.astro";
import Clientes from "./Clientes.astro"
import Sistemas from "./Sistemas.astro"
import Contacto from "./Contacto.astro"
import HeaderVertical from "./navigation/HeaderVertical.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<div id="container">
	<main>
		<div class="flex flex-col items-end">
			<section class="w-1/6">
				<HeaderVertical />
				<!-- <Header /> -->
			</section>
			<section class="w-5/6">
				<section class="w-full">
					<Servicios />
					<Clientes />
					<!-- <Sistemas /> -->
					<Contacto />
				</section>
				<section class="w-full">
					<Footer />
				</section>
			</section>
		</div>
	</main>
</div>
