---
import Servicios from './Servicios.astro'
import Clientes from './clients/Clientes.astro'
import Galeria from './Galeria.astro'
import HeaderVertical from '../components/navigation/HeaderVertical.astro'
import Footer from './Footer.astro'
import Formulario from './contact/Formulario.astro'
---

<div id="container" class="h-screen">
  <main class="h-full">
    <div class={`
      flex flex-col h-full w-full items-center
      lg:flex lg:flex-col lg:items-end
    `}>
      <HeaderVertical />
      <section class="lg:w-5/6 w-full flex flex-col items-center">
        <section class="w-full">
          <Servicios />
          <Clientes />
          <Galeria />
          <Formulario />
        </section>
        <section class="w-full">
          <Footer />
        </section>
      </section>
    </div>
  </main>
</div>
