---
import Servicios from "./Servicios.astro";
import Clientes from "./Clientes.astro"
import Sistemas from "./Sistemas.astro"
import Contacto from "./Contacto.astro"
import HeaderVertical from "./navigation/HeaderVertical.astro";
---

<div id="container" class="bg-[#eee] h-full">
	<main>
		<div class="flex justify-center">
			<section class="w-80">
				<HeaderVertical />
			</section>
			<section class="w-full">
				<Servicios />
				<Clientes />
				<Sistemas />
				<Contacto />
			</section>
		</div>
	</main>
</div>
